@model IEnumerable<IntProgram.Models.derstablo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.dersid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dersadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.derskredisi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dersokulyonetimid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.dersid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dersadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.derskredisi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dersokulyonetimid)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
